body {
	background-color: rgba($color: #eeeeee, $alpha: 1);
	overflow: hidden;
}
.menu_slider {
	visibility: hidden;
	position: absolute;
	top: -6rem;
	transition: 250ms;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.buttons {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba($color: #ffffff, $alpha: 1);
	border-radius: 15px;
	width: auto;
	height: 3rem;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.buttons > .button {
	width: 5rem;
	height: 2.5rem;
	border-radius: 10px;
	margin: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.buttons > .button > .but {
	text-decoration: none;
}

.buttons > .button:hover {
	font-weight: bold;
}

.slider {
	transition: 250ms;
	left: 1rem;
	border-radius: 10px;
	height: 2.5rem;
	width: 5rem;
	position: absolute;
	border: 1px solid #b8b8b8;
	background-color: rgba($color: #ebebeb, $alpha: 1);
	z-index: 1;
}
